* {
    margin: 0;

}

body {
    background-color: #044343;
    padding-bottom: 10px;
}

h1 {
    font-family: "Century Gothic";
    font-size: 60px;
    text-align: center;

    font-size: 80px;
}

#page {
    width: 750px;
    margin: 0 auto;
    padding-bottom: 5px;
    background-color: #e4e4e4;
}

.menu li {
    display: inline;
    list-style-type: none;
    font-size: 23px;
    padding-right: 12px;
}

.menu {
    background-color: #045757;
    border: solid #222222;
    padding: 10px 10px 10px 20px;
    margin: 20px;
    font-family: "Century Gothic";
}
.menu a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

a {
    color: #e4e4e4;
}

a:hover {
    color: #bbbbbb;
}

h3 {
    text-align: center;
    text-decoration: underline;
    font-family: "Century Gothic";
}

h2{
    text-align: center;
    font-family: "Century Gothic";
}

iframe{
    display: block;
    margin: 0 auto;
}

p {
    padding: 20px;
    text-align: center;
    font-family: "Century Gothic";
}

.zapati {
    padding: 10px 10px 10px 20px;
    margin: 20px;
    background-color: #045757;
    border: solid #222222;
    font-size: 15px;
    font-family: "Century Gothic";
}

.zapati li {
    list-style-type: none;
    display: inline;
    padding-right: 20px;
}
.zapati a{
    text-decoration: none;
}

