* {
    margin: 0;
    font-family: "Century Gothic";
}


body {
    background-color: #044343;
    padding-bottom: 10px;
}

h1 {
    text-align: center;
    font-size: 80px;
    padding: 10px;
}

h1 a{
    text-decoration: none;
    color: black;
}

h1 a:hover{
    color: black
}

#page {
    width: 750px;
    margin: 0 auto;
    padding-bottom: 5px;
    background-color: #e4e4e4;
}

.menu li {
    display: inline;
    list-style-type: none;
    font-size: 23px;
    padding-right: 12px;
}

.menu {
    background-color: #045757;
    border: solid #222222;
    padding: 10px 10px 10px 20px;
    margin: 20px;
}
.menu a {
    text-decoration: none;
    color: #e4e4e4;
}

img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

/*a {*/
    /*color: #e4e4e4;*/
/*}*/

a:hover {
    color: #bbbbbb;
}

h3 {
    text-align: center;
    text-decoration: underline;
}

h2{
    text-align: center;
}

iframe{
    display: block;
    margin: 0 auto;
}

p {
    padding: 20px;
    text-align: center;
}

.zapati {
    padding: 10px 10px 10px 20px;
    margin: 20px;
    background-color: #045757;
    border: solid #222222;
    font-size: 15px;
}

.zapati li {
    list-style-type: none;
    display: inline;
    padding-right: 20px;
}
.zapati a{
    text-decoration: none;
}

form label{
    color: white;
}

form {
    background-color: #045757;
    border: solid #222222;
    width: 40%;
    margin-left: 30%;
    padding: 10px;
}
li.bez-tecky {
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
h4{
    font-size: 15px;
    padding: 10px 10px 10px 10px;
    text-decoration: underline;
}
