* {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 1px;
}

#page {
    width: 700px;
    margin: 0 auto;
    background-color: lightskyblue;
}

.menu li {
    display: inline;
    list-style-type: none;

}